/* Estilos da página index.html*/ 
#p1 {
font-size: 20px;
}
.center {
   text-align: center;
}

.highlight {
    font-size: 30px;
    font-style: italic;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#menu li {
    display: inline;
    padding: 15px;
    /*--text-decoration: none;  -> Tem que estar dentro do a */ 
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {

    color: rgb(209, 202, 219);
}
.p-30 {
    font-size: 20px;
    padding: 30px;
}

.br {
    border-radius: 15%;
}

.wh {
    height: 300px;
    width: 300px;
}
.tm-social {
    width: 30px;
    height: 30px;

}
.mb-40 {
    margin-bottom: 40px;
}

.bc {
    background-color: rgba(78, 90, 121, 0.26)
    ;
}
/* Estilos da página contato.hmtl*/

.ml-50 {
    margin-left: 50px;
}
.bc2 {
    background-color: rgba(78, 90, 121, 0.26)   
    ;
}